@font-face {
  font-family: Stratum2;
  src: url('./assets/Stratum2WebRegular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: Stratum2;
  src: url('./assets/Stratum2WebLight.woff2');
  font-weight: 300;
}

@font-face {
  font-family: Stratum2;
  src: url('./assets/Stratum2WebMedium.woff2');
  font-weight: bold;
}
